# Data_Science_with_Professor_Ammar
## Python
### *Day_3a*

# -Indexing

In [1]:
a="Chilli milli"
a

'Chilli milli'

In [2]:
a[0]

'C'

In [3]:
a[5]

'i'

In [4]:
a[6]

' '

In [5]:
len(a)

12

In [6]:
a[11]

'i'

In [7]:
#Last index is exclusive
a[0:5]

'Chill'

In [8]:
a[0:6]

'Chilli'

In [9]:
a[-1]

'i'

In [10]:
a[-5:-1]

'mill'

In [11]:
a[-5:13]

'milli'

# -String_methods

In [12]:
food = "biryani"

In [13]:
len(food)

7

In [14]:
#Capitalizae first element
food.capitalize()

'Biryani'

In [15]:
#Converts all into into upper-case letters
food.upper()

'BIRYANI'

In [16]:
#Converts all into into lower-case letters
food.lower()

'biryani'

In [17]:
#Replace
food.replace('b', "Sh")

'Shiryani'

In [18]:
#Counting a specific alphabet in a string
sent = "I am learning python with Dr. Ammar"
sent

'I am learning python with Dr. Ammar'

In [19]:
sent.count("a")

3

**Finding an index number in string**

In [20]:
sent = "I am learning python with Dr. Ammar"
sent

'I am learning python with Dr. Ammar'

In [21]:
sent.find("I")

0

In [22]:
# How to split a string?
food = 'I wanna eat apple, banana, dates, and cherry'

In [23]:
food.split(",")

['I wanna eat apple', ' banana', ' dates', ' and cherry']

---

# Data_Science_with_Professor_Ammar
## Python
### *Day_3b*

# Basic Data structures in python

## 1-Tuple
## 2-List
## 3-Dictionaries
## 4-Sets

## 1- Tuple
- Ordered collections of elements
- Enclosed in round braces() or paranthesis
- Different types of elements can b stored
- Immutatable (Stored elements cannot be changed later)

In [24]:
tup1 = (1, "Mango", 2.5, True)
tup1

(1, 'Mango', 2.5, True)

In [25]:
# Type of a tuple
type(tup1)

tuple

### - Indexing in tuple

In [26]:
tup1[1]

'Mango'

In [27]:
tup1[2]

2.5

In [28]:
# Last element is exclusive
print(tup1[0:3])
print(tup1[1:3])

(1, 'Mango', 2.5)
('Mango', 2.5)

In [29]:
#counting elements in tuple
len(tup1)

4

In [30]:
tup2 = ("BabaG", 2 , True, 1.1)

In [31]:
# Concatenation : Adding 2 or more tuples
tup1 + tup2

(1, 'Mango', 2.5, True, 'BabaG', 2, True, 1.1)

In [32]:
tup1*2 + tup2

(1, 'Mango', 2.5, True, 1, 'Mango', 2.5, True, 'BabaG', 2, True, 1.1)

In [33]:
tup3 = (23, 20, 90, 98, 17, 71)

In [34]:
#minimum in a tuple
min(tup3)

17

In [35]:
#maximum in a tuple
max(tup3)

98

In [36]:
tup3*2 #doubles the number of element
#only multiplication operator can be applied at tuple

(23, 20, 90, 98, 17, 71, 23, 20, 90, 98, 17, 71)

In [37]:
#tup3+2 #Error due to TypeError: can only concatenate tuple (not "int") to tuple

## 2- Lists
- Ordered collections of elements
- Enclosed in squre bracket/braces
- Mutable, You can change the values

In [38]:
list1 = ["BabaG", 1, True, 1.1]

In [39]:
type(list1)

list

In [40]:
len(list1)

4

In [41]:
list1[2]

True

In [42]:
list1[3]

1.1

In [43]:
list2 = [2,1, "BabaG", "light", 5.5, True]

In [44]:
list1 + list2

['BabaG', 1, True, 1.1, 2, 1, 'BabaG', 'light', 5.5, True]

In [45]:
list1*2

['BabaG', 1, True, 1.1, 'BabaG', 1, True, 1.1]

In [46]:
list1.reverse() #The reverse() method reverses the elements of the list.
list1

[1.1, True, 1, 'BabaG']

In [47]:
list1.append("Codanics") #The append() method adds an item to the end of the list.
list1

[1.1, True, 1, 'BabaG', 'Codanics']

In [48]:
list1.count(1) #The count() method returns the number of times the specified element appears in the list.

2

In [49]:
list3 = [2,3,2,77,76,7,8,9,3,6,5,4,7]
list3

[2, 3, 2, 77, 76, 7, 8, 9, 3, 6, 5, 4, 7]

In [50]:
len(list3)

13

In [51]:
list3.sort() #The sort() method sorts the elements of a given list in a specific ascending or descending order.
list3

[2, 2, 3, 3, 4, 5, 6, 7, 7, 8, 9, 76, 77]

In [52]:
list3*2

[2,
 2,
 3,
 3,
 4,
 5,
 6,
 7,
 7,
 8,
 9,
 76,
 77,
 2,
 2,
 3,
 3,
 4,
 5,
 6,
 7,
 7,
 8,
 9,
 76,
 77]

In [53]:
list1 + list2

[1.1, True, 1, 'BabaG', 'Codanics', 2, 1, 'BabaG', 'light', 5.5, True]

In [54]:
lists = list1 + list2 + list3

## 3- Dictionaries
- Any unordered collection of elements
- Key and Values
- Enclosed in curly braces or brackets {}
- Mutatable; We can change the valued of it's elements anytime

In [55]:
#Food and their prices
menu1 = {"Samosa": 30, "Pakorda": 10, "Salad": 20, "Chicken Roles": 60}
menu1

{'Samosa': 30, 'Pakorda': 10, 'Salad': 20, 'Chicken Roles': 60}

In [56]:
type(menu1)

dict

In [57]:
#extracting data
keys1 = menu1.keys()
keys1

dict_keys(['Samosa', 'Pakorda', 'Salad', 'Chicken Roles'])

In [58]:
#extracting data
values1 = menu1.keys()
values1

dict_keys(['Samosa', 'Pakorda', 'Salad', 'Chicken Roles'])

In [59]:
#Adding new element
menu1["Chatni"] = 10
menu1

{'Samosa': 30, 'Pakorda': 10, 'Salad': 20, 'Chicken Roles': 60, 'Chatni': 10}

In [60]:
#Update the values
menu1["Chatni"] = 20
menu1

{'Samosa': 30, 'Pakorda': 10, 'Salad': 20, 'Chicken Roles': 60, 'Chatni': 20}

In [61]:
food2 = {"dates":50, "Chocolates":100, "Sphaghettis":50}
food2

{'dates': 50, 'Chocolates': 100, 'Sphaghettis': 50}

In [62]:
#Concatination
menu1.update(food2)
menu1

{'Samosa': 30,
 'Pakorda': 10,
 'Salad': 20,
 'Chicken Roles': 60,
 'Chatni': 20,
 'dates': 50,
 'Chocolates': 100,
 'Sphaghettis': 50}

## 4- Sets
- Unordered and unindexed
- curly braces are used
- No duplicates are allowed

In [63]:
s1 = {2, 5, True, "FaislaAbad", "Ammar" "BabaG", "Codanics" }
s1

{2, 5, 'AmmarBabaG', 'Codanics', 'FaislaAbad', True}

In [64]:
type(s1)

set

In [65]:
#Adding new element in sets
s1.add("Ammar1")
s1

{2, 5, 'Ammar1', 'AmmarBabaG', 'Codanics', 'FaislaAbad', True}

In [66]:
#Removing some elements from the sets
s1.remove("Ammar1")
s1

{2, 5, 'AmmarBabaG', 'Codanics', 'FaislaAbad', True}